.top-head{
  height: 300px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


}
.top-head  h1{
  color:rgba(#2b7bc4, 0.59);
  font-size:60px;
  font-style: oblique;
  padding-top: 120px;
  margin-left: auto;
  text-shadow: 2px 4px 4px rgba(52,85,43,0,8)
}
body{
  margin-left: 360px;

}
